 body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;

 }

header{
    background-color:#F63232;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome {
    background-color: #FEB614;
    color: white;
    padding: 30px;
    position: absolute;
    left: 0px;
    top: 30%;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span{
    font-size: 1.3em;
}
nav{
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 102px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4B4B4B;
}
nav li a.join{
    color: #F63232
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0px;
    box-sizing: border-box;
}
article h2{
    color: #F63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4B4B4B;
}
.images{
    text-align: center;
    margin: 80px 0px; 
    white-space: nowrap;  
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
section.join{
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
}
.join h2{
    font-size: 36px;
}
form input{
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 20px;
    border: 4px solid white;
}
footer{
    background: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
}

/* psuedo classes */

nav li a:hover{
    text-decoration: underline; 
}

.images
